<!DOCTYPE html>
<html lang="fr">

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>
        <%= title %>

    </h1>
    <table>
        <tr>
            <th>Auteur</th>
            <th>Titre</th>
            <th>Categorie</th>
        </tr>
        <tr>
            <td>J.R.R Tolkien</td>
            <td>Le Seigneur des anneaux</td>
            <td>fantasy</td>
        </tr>
        <tr>
            <td>Michael Ende</td>
            <td>L'histoire sans fin</td>
            <td>fantasy</td>
        </tr>
        <tr>
            <td>Andrzej Sapkowski</td>
            <td>Le Sorceleur</td>
            <td>fantasy</td>
        </tr>
        <tr>
            <td>George R.R Martin</td>
            <td>Le Trone de fer</td>
            <td>fantasy</td>
        </tr>


    </table>

    <p> vous pouvais chercher une categorie de livre different sur ce lien
        <a href="http://localhost:3000/books/search">retour vers une autre rechercher </a>.</p>


</body>

</html>
