<!DOCTYPE html>
<html lang="fr">

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <h1>
        <%= title %>
    </h1>

    <p> vous pouvais chercher une categorie de livre different sur ce lien
        <a href="http://localhost:3000/books/search">retour vers une autre rechercher </a>.</p>


</body>

</html>
