body {
    padding: 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

div {
    padding: 5px;
    margin: 5px;
}

.class {
    padding: 5px;
}

label {
    display: inline-block;
    width: 90px;
    text-align: left;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #CED4E5;
}

tr:nth-child(odd) {
    background-color: #E8EBF5;
}